.Register_container,
.login_container {
    min-height: calc(100vh - (220px + 112px));
}

/* Main Design is here... */
.main_container,
.footer_container,
.login_container,
.register_container,
.Navbar_container,
.top_destination_container,
.Explore_tour_container,
.News_Container,
.Feature_card_container,
.ChooseDestination_Container {
    max-width: 1366px;
    width: 97% !important;
    margin-inline: auto;
}


/* Hero Slider CSS Design */
.hero_slider {
    max-height: calc(100vh - 80px);
    /* min-height: calc(100vh - 80px); */
}

/* Slider CSS Style */
.swiper-button-prev {
    margin-left: 2%;
    color: #35A483 !important;
}

.swiper-button-next {
    margin-right: 2%;
    color: #35A483 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px !important;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 5%;
    /* height: 60px;
    width: 60px; */
}

.slider_content_1,
.slider_content_2,
.slider_content_3,
.slider_content_4,
.slider_content_5 {
    left: 8%;
}

/* Explore Tour Design */
.Explore_content_container {
    display: flex;
    flex-direction: row;
}

/*  Choose Your Destination Design Start*/

.Destination_Gallery_Container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;

    grid-template-areas:
        "a a a a a a b b b b b b"
        "c c c c c d d d d e e e"
        "f f f f f g g g g g g g"
    ;
}

.img_card_1 {
    grid-area: a;
}

.img_card_2 {
    grid-area: b;
}

.img_card_3 {
    grid-area: c;
}

.img_card_4 {
    grid-area: d;
}

.img_card_5 {
    grid-area: e;
}

.img_card_6 {
    grid-area: f;
}

.img_card_7 {
    grid-area: g;
}

/*  Choose Your Destination Design End*/





/* Media Screen here */


@media screen and (min-width:280px) and (max-width:658px) {

    /* Explore Tour Design */
    .Explore_content_container {
        flex-direction: column;
        gap: 20px;
    }

    .Visa_container {
        padding-left: 20px;
    }

}