.Register_container,
.login_container {
    max-height: calc(100vh - (220px + 112px));
}

/* Main Design is here... */
.main_container,
.footer_container,
.Navbar_container {
    max-width: 1366px;
    width: 91% !important;
    margin-inline: auto;
}